
.logo {
  display:block;
  margin-right: auto;
  margin-left: auto;
}

body {
  background-color:#181818;
}

p,h2,h4,h1,h3{
  text-align: center;
  color: #E0DDDD;
}
a{
  text-decoration:none;
  color: #2666CB;
}
a:hover{
  text-decoration: underline;
}
/* .handwritting{
} */

