
.logo {
  display:block;
  margin-right: auto;
  margin-left: auto;
}

div {
  background-color:#181818;
}

p,h2,h4,h1,h3{
  text-align: center;
  color: #E0DDDD;
}
a{
  text-decoration:none;
  color: #2666CB;
  /* text-underline-position: unset; */
  /* text-underline-offset: initial; */
}

/*
 .App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
